#header {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 49, 49);
}

.bigHeader {
    margin-top: 40px;
}

.sub {
    font-weight: lighter;
    padding-left: 20%;
    padding-right: 20%;
}

#about {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(49, 49, 49);
}